CompileFlags:                     # Tweak the parse settings
  Add: [-lSDL2, -lm, -Wall]             # treat all files as C++, enable more warnings
  Remove: []                     # strip all other warning-related flags
  Compiler: cc               # Change argv[0] of compile flags to `clang++`
